{% extends 'base.html' %}
{% block title %}Add Product - Farm to Table{% endblock %}
{% block content %}
<h1>Add New Product</h1>
<form method="POST" action="{{ url_for('add_product') }}" class="admin-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.description.label }}<br>
        {{ form.description }}
    </div>
    <div class="form-group-inline">
      {{ form.availability.label }}
    <div class="form-group-inline-checkbox">
        {{ form.availability }}
    </div></div>
    <div class="form-group">
        {{ form.price.label }}<br>
        {{ form.price }}
    </div>
    <button type="submit" class="button success">Add Product</button>
</form>
{% endblock %}
